@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bookish</h1>
    <p>Think of a library. The hushed silence. The smell of old leather tomes. The quiet scratching and scraping of quill on parchment. The elegant beauty of the Dewey Decimal System.</p>
    <p>We have done away with all of these things and dragged the library into the 21st century.</p>
</div>